.cart-container {
    padding: 20px;
    max-width: 600px;
    margin: auto;
    font-family: sans-serif;
}

h2 {
    text-align: center;
    color: #aa6c7a;
}
#parh{
    font-size: 25px !important;
    color: #cd6d6d;
    font-weight: bold;
}

.cart-items {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
}

.cart-item {
    display: flex;
    align-items: center;
    background: #fdf1f4;
    padding: 12px;
    border-radius: 16px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    justify-content: space-between;
}

.cart-item img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 12px;
    margin-right: 15px;
}

.item-info {
    flex-grow: 1;
}

.item-info h4 {
    margin: 0;
    font-size: 18px;
    color: #e5677d;
}

.quantity-controls {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 5px;
}

.quantity-controls button {
    background: #e8b5aa;
    border: none;
    padding: 5px 10px;
    border-radius: 6px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.remove-btn {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.checkout {
    text-align: center;
    margin-top: 30px;
}

.checkout-button {
    background-color: #e5677d;
    color: white;
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    border-radius: 20px;
    cursor: pointer;
}

.checkout-button:hover {
    background-color: #d2546b;
}
.clickbutton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #d2546b;
    color: white;
    border: 2px solid #e89ebd;
    border-radius: 50px;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: 0.3s ease;
    z-index: 1000;
}

.clickbutton :hover {
    background-color: #e89ebd;
}
.process-btn {
    background-color: #f26a6a;
    border: none;
    padding: 10px 20px;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 20px;
}
.employee-dashboard {
    max-width: 900px;
    margin: auto;
    padding: 20px;
}

.order-card {
    background: #fff;
    border: 1px solid #ddd;
    padding: 16px;
    margin-bottom: 20px;
    border-radius: 8px;
}

.order-card p {
    margin: 6px 0;
}

.order-card ul {
    padding-left: 20px;
}

.order-actions {
    margin-top: 10px;
}

.approve-btn,
.reject-btn {
    padding: 8px 16px;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
}

.approve-btn {
    background-color: #4caf50;
}

.reject-btn {
    background-color: #f44336;
}