.top-restaurants {
    padding: 40px;
    background-color: #f8f0ee;
    text-align: center;
}

.restaurant-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    margin-top: 30px;
}

.restaurant-card {
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    padding: 15px;
    transition: transform 0.2s;
}

.restaurant-card img {
    width: 100%;
    border-radius: 12px;
    height: 150px;
    object-fit: cover;
}

.restaurant-card h3 {
    margin: 10px 0 5px;
    font-size: 18px;
    color: #444;
}

.restaurant-card p {
    color: #d68a8a;
    font-weight: bold;
}
.add-btn {
    background-color: #e8b5aa;
    color: white;
    border: 2px solid #aa6c7a;
    padding: 5px 10px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.add-btn:hover {
    background-color: #d7948a;
    color: white;
}
